In [43]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
df=pd.read_csv("country_vaccination_stats.csv")
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [45]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [46]:
data["daily_vaccinations"].value_counts()

3000.0      22
63.0        21
187500.0    16
62.0        12
13200.0     10
            ..
19721.0      1
87584.0      1
86392.0      1
85096.0      1
17063.0      1
Name: daily_vaccinations, Length: 1224, dtype: int64

In [47]:
missing_data = df[df['daily_vaccinations'].isnull()]

# missing_value print
print("Eksik Veriler:")
print(missing_data)

Eksik Veriler:
                   country        date  daily_vaccinations  \
0                Argentina  12/29/2020                 NaN
28                 Austria    1/5/2021                 NaN
48                 Bahrain  12/23/2020                 NaN
77                 Belgium  12/28/2020                 NaN
103                 Brazil   1/16/2021                 NaN
113               Bulgaria  12/29/2020                 NaN
141                 Canada  12/14/2020                 NaN
184                  Chile  12/24/2020                 NaN
217                  China  12/15/2020                 NaN
254             Costa Rica  12/24/2020                 NaN
280                Croatia  12/30/2020                 NaN
307                 Cyprus    1/6/2021                 NaN
324                Czechia  12/27/2020                 NaN
354                Denmark  12/27/2020                 NaN
384                Ecuador   1/21/2021                 NaN
386                England  12/20/2020                 NaN
422                Estonia  12/28/2020                 NaN
451                Finland  12/31/2020                 NaN
477                 France    1/4/2021                 NaN
499                Germany  12/27/2020                 NaN
528              Gibraltar   1/10/2021                 NaN
543                 Greece  12/28/2020                 NaN
572                Hungary  12/28/2020                 NaN
600                Iceland  12/30/2020                 NaN
627                  India   1/15/2021                 NaN
638              Indonesia   1/12/2021                 NaN
652                Ireland  12/31/2020                 NaN
677            Isle of Man   1/21/2021                 NaN
682                 Israel  12/19/2020                 NaN
720                  Italy  12/27/2020                 NaN
750                 Kuwait  12/28/2020                 NaN
751                 Latvia  12/28/2020                 NaN
780              Lithuania  12/25/2020                 NaN
812             Luxembourg  12/30/2020                 NaN
838                  Malta  12/28/2020                 NaN
866                 Mexico  12/24/2020                 NaN
899            Netherlands    1/6/2021                 NaN
916       Northern Ireland  12/13/2020                 NaN
959                 Norway  12/27/2020                 NaN
988                   Oman  12/28/2020                 NaN
1016                Panama   1/19/2021                 NaN
1022                Poland  12/28/2020                 NaN
1050              Portugal  12/27/2020                 NaN
1079               Romania  12/28/2020                 NaN
1108                Russia  12/15/2020                 NaN
1138          Saudi Arabia    1/6/2021                 NaN
1150              Scotland  12/13/2020                 NaN
1193                Serbia    1/8/2021                 NaN
1211            Seychelles    1/9/2021                 NaN
1226             Singapore   1/11/2021                 NaN
1238              Slovakia    1/4/2021                 NaN
1256              Slovenia    1/3/2021                 NaN
1278                 Spain    1/4/2021                 NaN
1300                Sweden  12/27/2020                 NaN
1322           Switzerland  12/23/2020                 NaN
1352                Turkey   1/13/2021                 NaN
1365  United Arab Emirates    1/5/2021                 NaN
1386        United Kingdom  12/20/2020                 NaN
1422         United States  12/20/2020                 NaN
1459                 Wales  12/13/2020                 NaN

                                   vaccines
0                                 Sputnik V
28                          Pfizer/BioNTech
48               Pfizer/BioNTech, Sinopharm
77                          Pfizer/BioNTech
103                                 Sinovac
113                Moderna, Pfizer/BioNTech
141                Moderna, Pfizer/BioNTech
184                         Pfizer/BioNTech
217                           CNBG, Sinovac
254                         Pfizer/BioNTech
280                         Pfizer/BioNTech
307                         Pfizer/BioNTech
324                Moderna, Pfizer/BioNTech
354                Moderna, Pfizer/BioNTech
384                         Pfizer/BioNTech
386     Oxford/AstraZeneca, Pfizer/BioNTech
422                         Pfizer/BioNTech
451                         Pfizer/BioNTech
477                         Pfizer/BioNTech
499                Moderna, Pfizer/BioNTech
528                         Pfizer/BioNTech
543                         Pfizer/BioNTech
572                         Pfizer/BioNTech
600                Moderna, Pfizer/BioNTech
627                     Covaxin, Covishield
638                                 Sinovac
652                         Pfizer/BioNTech
677                         Pfizer/BioNTech
682                Moderna, Pfizer/BioNTech
720                         Pfizer/BioNTech
750                         Pfizer/BioNTech
751                         Pfizer/BioNTech
780                Moderna, Pfizer/BioNTech
812                         Pfizer/BioNTech
838                         Pfizer/BioNTech
866                         Pfizer/BioNTech
899                Moderna, Pfizer/BioNTech
916     Oxford/AstraZeneca, Pfizer/BioNTech
959                         Pfizer/BioNTech
988                         Pfizer/BioNTech
1016                        Pfizer/BioNTech
1022                        Pfizer/BioNTech
1050                        Pfizer/BioNTech
1079                        Pfizer/BioNTech
1108                              Sputnik V
1138                        Pfizer/BioNTech
1150    Oxford/AstraZeneca, Pfizer/BioNTech
1193  Pfizer/BioNTech, Sinopharm, Sputnik V
1211                              Sinopharm
1226                        Pfizer/BioNTech
1238                        Pfizer/BioNTech
1256                        Pfizer/BioNTech
1278               Moderna, Pfizer/BioNTech
1300                        Pfizer/BioNTech
1322                        Pfizer/BioNTech
1352                                Sinovac
1365             Pfizer/BioNTech, Sinopharm
1386    Oxford/AstraZeneca, Pfizer/BioNTech
1422               Moderna, Pfizer/BioNTech
1459    Oxford/AstraZeneca, Pfizer/BioNTech

In [48]:
# Group by country and calculate the minimum daily vaccination number for each country
min_vaccinations = df.groupby("country")["daily_vaccinations"].min().reset_index()

# Merge the original dataframe with the minimum daily vaccination numbers
df = pd.merge(df, min_vaccinations, on="country", suffixes=("", "_min"))

# Fill missing values in daily_vaccinations column with the minimum daily vaccination number
df["daily_vaccinations"].fillna(df["daily_vaccinations_min"], inplace=True)

# Fill remaining missing values with 0
df["daily_vaccinations"].fillna(0, inplace=True)

In [49]:
df

,country,date,daily_vaccinations,vaccines,daily_vaccinations_min
0,Argentina,12/29/2020,6483.0,Sputnik V,6483.0
1,Argentina,12/30/2020,15656.0,Sputnik V,6483.0
2,Argentina,12/31/2020,15656.0,Sputnik V,6483.0
3,Argentina,1/1/2021,11070.0,Sputnik V,6483.0
4,Argentina,1/2/2021,8776.0,Sputnik V,6483.0
...,...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1763.0
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1763.0
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1763.0
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1763.0
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1763.0

In [50]:
# Drop the minimum daily vaccination number column
df.drop(["daily_vaccinations_min"], inplace=True,axis=1)

In [51]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [53]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

In [54]:
data["daily_vaccinations"].value_counts()

3000.0      22
63.0        21
187500.0    16
62.0        12
13200.0     10
            ..
19721.0      1
87584.0      1
86392.0      1
85096.0      1
17063.0      1
Name: daily_vaccinations, Length: 1224, dtype: int64

In [ ]:
# Save the updated dataframe to a new CSV file
df.to_csv("output.csv", index=False)